node_modules
package-lock.json
public/assets/vector_long.psd
public/assets/vector_original.psd
public/assets/vector_original.jpg
public/assets/vector_original_rvb.png
public/assets/icon/android-icon-36x36.png
public/assets/icon/apple-icon-57x57.png
public/assets/icon/favicon-16x16.png
public/index1.html